table {
	box-shadow: 0 10px 10px rgba(187, 183, 183, 0.2);
}
th {
	background-color: rgba(27, 26, 26, 0.2);
}
td {
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	color: rgb(10, 9, 9);
}

td:hover {
	background-color: rgba(199, 185, 185, 0.3);
}
table td,
table th {
	vertical-align: top;
	/* padding: 0.75em; */
	text-align: center;
	border: 1px solid #191b1a;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
