<!-- include header -->
    <%- include('include/_header')%>
<!-- /include header -->

<!-- Main Site -->
<main id="main-site">
    <div class="container">
        <div class="box-justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-main"> New User </span>
            </a>
        </div>

        <form action='/' method='POST'>
            <table style="width:100%">
                <!-- <thead class="thead">
                    <tr>
                        <th>ID</th>
                        <th>Name</th> 
                        <th>Status</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead> -->
                <tbody>
                    <%- include('include/_show')%>
                </tbody>
              </table>
        </form>
        
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->