<form action='/api/users' method='POST' id="add-user">
    <div class="new-user">
        <div class="group">
            <label for='name'>Name</label>
            
            <input class ="name-email"type="text" name='name' placeholder="Full Name">
        </div>
        <div class="group">
            <label for='email'>Email</label>
            <input class ="name-email" type="text" name='email' placeholder="example@gmail.com">
        </div>
        <label>Status</label>
        <div class="radio">
            <input type="radio" name="status" value="inactive">
            <label>Active</label>
        </div>
        <div class="radio">
            <input type="radio" name="status" value="active">
            <label>Inactive</label>
        </div>
        <div >
            
            <button class="button" type="submit">Submit</button>
        </div>
    </div>
</form>